<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polygraphene.alvr"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="24" />
    <uses-feature
        android:glEsVersion="0x00030002"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Functionality required for Daydream. All OculusVR devices should have these features. -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>
    <!-- Most OculusVR devices won't have these features. -->
    <uses-feature android:name="android.software.vr.mode" android:required="true"/>
    <uses-feature android:name="android.hardware.vr.high_performance" android:required="true"/>


    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:version="1"
        android:required="false"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ovr_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--
        <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only" />
        -->

        <activity android:name=".DaydreamLayersActivity"
                  android:label="@string/dd_name"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden|screenSize|uiMode|navigation|density"
                  android:enableVrMode="@string/gvr_vr_mode_component"
                  android:resizeableActivity="false">
            <!-- Metadata used to tell DD about this Activity. -->
            <meta-data android:name="com.google.android.vr.icon"
                       android:resource="@drawable/daydream_icon" />
            <meta-data android:name="com.google.android.vr.icon_background"
                       android:resource="@drawable/daydream_background" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.intent.category.DAYDREAM" />
            </intent-filter>
        </activity>
    </application>

</manifest>